<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Transformer-Vis 💬</title>
  <!-- Bootstrap core CSS-->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="../static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="../static/css/sb-admin.css" rel="stylesheet">
    <link href="../static/css/my_css.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark sidenav-toggled" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">Transformer-Vis</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Matrix Vis">
          <a class="nav-link" href="/q">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Matrix Vis</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Words Vis">
          <a class="nav-link" href="/horizon_softmax">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Words Vis</span>
          </a>
        </li>

      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-6" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-eye"></i>

            <span class="indicator text-primary d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="messagesDropdown">
            <h6 class="dropdown-header">Change Showing Matrix:</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/q">
              <strong>Q Matrix</strong>

              <div class="dropdown-message small">one word</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/k">
              <strong>K Matrix</strong>

              <div class="dropdown-message small">all words - index</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/v">
              <strong>V Matrix</strong>

              <div class="dropdown-message small">all words - value</div>
            </a>
          </div>
        </li>
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 mr-lg-2" action="/search_mat" method="get">
            <div class="input-group">
              <input class="form-control" type="text" name="input" placeholder="Input sentence...">
              <span class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
      </ul>
    </div>
    </div>
  </nav>

  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Matrix Showing Collections</li>
      </ol>
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-bar-chart"></i> {{ matrix_name | safe }} Matrix</div>
        <div class="card-body">
            <div class="container">
                <div id="dict"></div>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
      <div class="row">
        <div class="col-xl-6">
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-area-chart"></i> {{ matrix_name | safe }} Matrix - max</div>
            <div class="card-body">
                <div id="dict_max"></div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-area-chart"></i> {{ matrix_name | safe }} Matrix - mean</div>
            <div class="card-body">
                <div id="dict_mean"></div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
        </div>
      </div>
        <div class="row">
        <div class="col-xl-6">
          <!-- Example Bar Chart Card-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-area-chart"></i> Horizontal PCA - words</div>
            <div class="card-body">
                <div id="horizontal_pca_transforms"></div>
                <div id="horizontal_pca"></div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-area-chart"></i> Vertical PCA - dimension</div>
            <div class="card-body">
                <div id="vertical_pca"></div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © VisML 2020</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="../static/vendor/chart.js/Chart.min.js"></script>
    <script src="../static/vendor/datatables/jquery.dataTables.js"></script>
    <script src="../static/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="../static/js/sb-admin-datatables.min.js"></script>
    <script src="../static/js/sb-admin-charts.min.js"></script>
      <script src="https://d3js.org/d3.v4.min.js"></script>
      <script type="module">
            // load data
            var newData = {{ context | safe }};

            // Load the Observable runtime and inspector.
            import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";



            import dict from "https://api.observablehq.com/@foxerlee/barcode-plot.js?v=3";
            const maind = new Runtime().module(dict, name => {
              if (name === "chart") {
                return new Inspector(document.querySelector("#dict"));
              }
            });
            maind.redefine("data", newData['dict']);

            import dict_max from "https://api.observablehq.com/@foxerlee/barcode-plot.js?v=3";
            const mainmax = new Runtime().module(dict_max, name => {
               if (name === "chart") {
                   return new Inspector(document.querySelector("#dict_max"));
               }
            });
            mainmax.redefine("data", newData['dict_max']);

            import dict_mean from "https://api.observablehq.com/@foxerlee/barcode-plot.js?v=3";
            const mainmean = new Runtime().module(dict_mean, name => {
               if (name === "chart") {
                   return new Inspector(document.querySelector("#dict_mean"));
               }
            });
            mainmean.redefine("data", newData['dict_mean']);

            import h_pca from "https://api.observablehq.com/@foxerlee/zoomable-scatterplot.js?v=3";
            const mainh_pca = new Runtime().module(h_pca, name => {
               switch (name) {
                   case "chart": {
                       return new Inspector(document.querySelector("#horizontal_pca"));
                   }
               }});
            mainh_pca.redefine("data", newData['horizontal_pca']);

            import v_pca from "https://api.observablehq.com/@foxerlee/zoomable-scatterplot.js?v=3";
            const mainv_pca = new Runtime().module(v_pca, name => {
               switch (name) {
                   case "chart": {
                       return new Inspector(document.querySelector("#vertical_pca"));
                   }
               }});
            mainv_pca.redefine("data", newData['vertical_pca']);

        </script>
  </div>
</body>

</html>
