<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Transformer-Vis 💬</title>
  <!-- Bootstrap core CSS-->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="../static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="../static/css/sb-admin.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark sidenav-toggled" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">Transformer-Vis</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Matrix Vis">
          <a class="nav-link" href="/q">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Matrix Vis</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Words Vis">
          <a class="nav-link" href="/horizon_softmax">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Words Vis</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 mr-lg-2" action="/search_soft" method="get">
            <div class="input-group">
              <input class="form-control" type="text" name="input" placeholder="Input sentence...">
              <span class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
      </ul>
    </div>
    </div>
  </nav>

  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Words Showing Collections</li>
      </ol>
        <div class="row">
            <div class="col-xl-6 col-xl-offset-3">
                <div class="card mb-3">
                    <div class="card-header">
                      <i class="fa fa-area-chart"></i> Words Contribution</div>
                    <div class="card-body">
                        <div id="wq"></div>
                    </div>
                    <div class="card-footer small text-muted">Words contribution in the sentence</div>
                  </div>
            </div>
            <div class="col-xl-6">
              <div class="card mb-3">
                <div class="card-header">
                  <i class="fa fa-area-chart"></i> Softmax - Matrix Chart</div>
                <div class="card-body">
                    <div id="nq"></div>
                </div>
                <div class="card-footer small text-muted">How a word is associated with other words in the same sentence</div>
              </div>
            </div>
        </div>
      <div class="row">
          <div class="col-xl-6">
              <div class="card mb-3">
                <div class="card-header">
                  <i class="fa fa-bar-chart"></i> Softmax - Multiline Chart </div>
                <div class="card-body">
                    <div class="container">
                        <div id="multi_softmax"></div>
                    </div>
                </div>
                <div class="card-footer small text-muted">How a word is associated with other words in the same sentence</div>
              </div>
          </div>


      </div>

    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © VisML 2020</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="../static/vendor/chart.js/Chart.min.js"></script>
    <script src="../static/vendor/datatables/jquery.dataTables.js"></script>
    <script src="../static/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="../static/js/sb-admin-datatables.min.js"></script>
    <script src="../static/js/sb-admin-charts.min.js"></script>
      <script src="https://d3js.org/d3.v4.min.js"></script>
      <script type="module">
            // load data
            var newData = {{ context | safe }};

            // Load the Observable runtime and inspector.
            import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";

            import sm from "https://api.observablehq.com/@wmx567/multi-line-chart/2.js?v=3";
            const maind = new Runtime().module(sm, name => {
              if (name === "chart") {
                return new Inspector(document.querySelector("#multi_softmax"));
              }
            });
            maind.redefine("data", newData['multi_softmax']);


            import matrix from "https://api.observablehq.com/@wmx567/coedl-ss18-comparison-matrix-workbook.js?v=3";
            const matrix_main = new Runtime().module(matrix, name => {
               if (name === "vis1") {
                   return new Inspector(document.querySelector("#nq"));
               }
            });
            console.log(newData['softmax_matrix'])
            matrix_main.redefine("data", newData['softmax_matrix']);

            import cloud from "https://api.observablehq.com/@wmx567/word-cloud-why-we-sleep-by-matthew-walker/2.js?v=3";
            const cloud_main = new Runtime().module(cloud, name => {
               if (name === "chart") {
                   return new Inspector(document.querySelector("#wq"));
               }
            });
            cloud_main.redefine("data", newData['word_cloud']);

        </script>
  </div>
</body>

</html>
