.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*position: absolute;*/
    /*display: none;*/
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -30px 30px 80px #888888;
    color: black;
    /*font: 12px sans-serif;*/
    padding: 10px;
    text-align: center;
}